* {
    margin: 0px;
    font-family: 'Uchen', serif;
    /* border: 1px solid black; */
}
/*HEADER*/
/*Menu de navegação*/
.logo {
    display: none;
}
nav {
    background-color: #eeebe8;
    position: fixed;
    width: 100%;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 17px;
    padding: 0px;
    white-space: nowrap;
}
nav ul li {
    list-style: none;
    margin-right: 12px;
}
nav a:link, nav a:visited {
    display: inline-block;
    text-decoration: none;
    color: #524c4b;
    transition: all 0.3s;
    padding: 5px;
}
ul li a {
    background-position: center;
    background-size: 0%;
    background-repeat: no-repeat;
}
ul li a:hover {
    color: transparent;
}
ul li:nth-child(1) a:hover {
    background-image: url("../imagens/home.png");
    background-size: 80%;
}
ul li:nth-child(2) a:hover {
    background-image: url("../imagens/pacote-destaque.png");
    background-size: 25%;
}
ul li:nth-child(3) a:hover {
    background-image: url("../imagens/quem-somos.png");
    background-size: 45%;
}
ul li:nth-child(4) a:hover {
    background-image: url("../imagens/ajuda.png");
    background-size: 80%;
}
.pagina-atual {
    color:  rgb(255, 151, 171) !important;
}
.pagina-atual:hover {
    color: transparent !important;
}

/*HEADER*/
header {
    margin: auto;
}
.texto-opcional {
    display: none;
}
/*Imagem capa*/
.imagem-destaque {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem-mobile {
    width: 45%;
    padding: 0px;
    margin-top: 30px;
}

/*MAIN*/
main {
    margin: auto;
    padding: 15px;
}
/*Título*/
.titulo {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(70, 136, 113);
    display: block;
}
/*Subtítulo*/
.subtitulo {
    text-align: center;
    font-weight: bold;
    color: #524c4b;
    padding: 15px 0px 15px 0px;
    margin-bottom: 10px;
}
h3 span {
    text-decoration: underline;
}
.subtitulo-fundo h3 {
    background-color: rgb(254, 208, 219, 0.3);
    border-radius: 8px;
    padding: 5px;
    font-size: 17px;
}

/*Seção com a imagem de destaque*/
.destaque-oferta {
    display: flex;
    flex-direction: column;
    background-color: #f8f5f2;
}
.imagem-oferta img {
    width: 70%;
    display: flex;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

/* Seção com a oferta de pacote */
.oferta div {
    display: block;
    width: 100%;
}
.oferta h3 {
    color: rgb(70, 136, 113);
    text-align: center;
    font-size: 16px;
}
.oferta p {
    text-align: justify;
    font-size: 15px;
    padding: 10px 30px 10px 30px;
}
.valor-anterior {
    text-decoration: line-through;
    color: grey;
    font-size: 15px;
}
.valor {
    color: rgb(255, 151, 171);
    font-size: 22px !important;
    padding: 10px;
    text-align: center !important;
}
.botao a{
    width: 70%;
    text-align: center;
}
.botao button{
    display: block;
    margin: auto;
    background-color: #524c4b;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    width: 70%;
    margin-bottom: 20px;

}
.botao a:link, .botao a:visited {
    text-decoration: none;
}
.botao button:hover {
    color: rgb(255, 151, 171);
    cursor: pointer;
}

/*Seção com dicas de alguns pontos turísticos*/
.pontos-turisticos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.card {
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card img {
    border-radius: 4px;
    width: 90%;
    display: block;
    margin: auto;
}
.card img:hover {
    box-shadow: 0 0 1em #dfdcdc;
}
.card h3 {
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: rgb(70, 136, 113);
}
.card p {
    text-align: justify;
    font-size: 15px;
    padding: 0px 20px 0px 20px;
}

/* Seção com vídeos do youtube sobre Londres */
.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

/*FOOTER*/
/*Rodapé da página*/
footer {
    color: #524c4b;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: #312e2e;
    font-weight: bold;
}
.rodape {
    background-color: #eeebe8;
    padding: 5px;
}


/*Configurações para versão web*/
@media screen and (min-width: 1000px) {
        
    /*HEADER*/
    header {
        width: 100%;
        margin: auto;
    }
    .texto-opcional {
        display: inline-block;
    }
    .imagem-destaque {
        display: none;
    }
    /*Menu de navegação*/
    .logo {
        width: 120px;
        display: block;
        border-radius: 50%;
        position: fixed;
        top: -2.5%;
        left: 2%;
    }
    nav {
        position: fixed;
    }
    nav ul {
        display: flex;
        align-items: center;
        padding-left: 170px;
        height: 63px;
        justify-content: left;
    }
    nav ul li {
        font-size: 17px;
        margin: 15px;
    }

    /*MAIN*/
    main {
        width: 1000px;
        margin: auto;
    }
    .titulo {
        padding-top: 0px;
    }
    .titulo h1 {
        font-size: 30px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .subtitulo-fundo h3 {
        font-size: 18px;
    }
    /*Seção com a imagem de destaque*/
    .destaque-oferta {
        flex-direction: row;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
    }
    .oferta h3 {
        font-size: 18px;
    }
    .oferta p {
        text-align: justify;
        padding: 10px 30px 10px 0px;
    }
    
    /* Seção com a oferta de pacote */
    .valor {
        font-size: 25px;
    }
    .botao button {
        margin-bottom: 10px;
    }

    /*Seção com dicas de alguns pontos turísticos*/
    .pontos-turisticos{
        flex-direction: row;
    }
    
    .card h3 {
        font-size: 18px;
    }
    .card p {
        font-size: 15px;
        padding: 0px;
    }

    /* Seção com vídeos do youtube sobre Londres */
    .videos {
        display: flex;
        flex-direction: row;
    }

    /*FOOTER*/
    /*Rodapé da página*/
    footer {
        width: 100%;
        font-size: 15px;
    }
    .rodape {
        background-color: #eeebe8;
        margin: 0;
        padding: 10px;
    }
}